.button-container {
  display: flex;
  margin-block: 4rem;
  text-align: center;
}
.button1 {
  display: inline-block;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-right: 2rem;
  padding: 1.4rem 4rem;
  letter-spacing: 0.1em;
  background: #2a9ef4;
  box-shadow: 6px 6px 4px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.button1:hover {
  transition: transform 0.5s ease-out;
  transform: translateY(-5px);
}
.button2 {
  display: inline-block;
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.4rem 4rem;
  letter-spacing: 0.1em;
  background: transparent;
  background: #000000;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.button2:hover {
  transition: transform 0.5s ease-out;
  transform: translateY(-5px);
}

@media screen and (max-width: 650px) {
  .button1,
  .button2 {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 350px) {
  .button1,
  .button2 {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    letter-spacing: 0;
  }
}
